<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pykj.moral.dao.FilesMapper" >
  <resultMap id="BaseResultMap" type="com.pykj.moral.entity.Files" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="createtion" property="createtion" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, filename, size, url, createtion
  </sql>
  
    <!-- 返回一个list的写法 -->
	<select id="getALL" resultType="filesentity">
		select * from files
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from files
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from files
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pykj.moral.entity.Files" >
    insert into files (id, filename, size, 
      url, createtion)
    values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{createtion,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pykj.moral.entity.Files" >
    insert into files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createtion != null" >
        createtion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtion != null" >
        #{createtion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pykj.moral.entity.Files" >
    update files
    <set >
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtion != null" >
        createtion = #{createtion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pykj.moral.entity.Files" >
    update files
    set filename = #{filename,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      createtion = #{createtion,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>